.pokemon {
  &-search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    label {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &-filter {
    display: flex;
    justify-content: end;

    &-outer {
      align-items: end;
      margin-bottom: 20px;

      label {
        font-size: 14px;
      }
    }
  }

  &-pagination {
    .pagination {
      align-items: center;
      justify-content: center;
    }
  }
}
